.grid{
  margin:14px 0;
  background:#020617;
  border-radius:20px;
  padding:12px;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
  box-shadow:0 0 0 2px #1e293b inset;
}

.cell{
  height:70px;
  border-radius:14px;
  background:#020617;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:800;
  font-size:22px;
  cursor:pointer;
  transition:.15s;
  box-shadow:
    0 4px 10px rgba(0,0,0,.5),
    inset 0 0 0 1px rgba(255,255,255,.05);
}

.cell[v="2"]{background:#1e293b}
.cell[v="4"]{background:#334155}
.cell[v="8"]{background:#2563eb}
.cell[v="16"]{background:#3b82f6}
.cell[v="32"]{background:#6366f1}
.cell[v="64"]{background:#8b5cf6}
.cell[v="128"]{background:#a855f7}
.cell[v="256"]{background:#d946ef}
.cell[v="512"]{background:#ec4899}
.cell[v="1024"]{background:#f43f5e}

.cell.active{
  outline:3px solid #38bdf8;
  transform:scale(1.07);
}
